@model MyCloud.Models.Instance
@{
    ViewBag.Title = "Details";
}

<h1>@Model.InstanceName</h1>

@Html.Label("Name", "Name:");
<br />
<p>@Model.InstanceName</p>

@Html.Label("Password", "Password:");
<br />
<p>@Model.InstancePasswd</p>

@Html.Label("Description", "Description:");
<br />
<p>@Model.InstanceDescription</p>

@Html.Label("Ip", "Ip:");
<br />
<p>@Model.InstanceIp</p>

@Html.Label("Port", "Port:");
<br />
<p>@Model.InstancePort</p>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Instance", method: FormMethod.Get, routeValues: new { id = Model.InstanceId }))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Instance", method: FormMethod.Post, routeValues: new { id = Model.InstanceId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-primary col-lg-1" type="submit">Delete</button>
}
<br />