@model MyCloud.Models.Instance
@{
    ViewBag.Title = "Update";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Instance"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put);

    @Html.HiddenFor(i => i.InstancePasswd)

    @Html.HiddenFor(i => i.InstanceIp)

    @Html.HiddenFor(i => i.InstancePort)

    @Html.HiddenFor(i => i.InstanceId)

    @Html.HiddenFor(i => i.InstanceIsOn)
    <br />

    @Html.Label("Name", "Name:")
    <br />
    @Html.EditorFor(i => i.InstanceName, new { HtmlTextWriterAttribute = new { @class = "form-control" } })

    @Html.ValidationMessageFor(i => i.InstanceName, "", new { @class = "text-danger" })
    
    <br />
    
    @Html.Label("Description", "Description:")
    <br />
    @Html.EditorFor(i => i.InstanceDescription, new { HtmlTextWriterAttribute = new { @class = "form-control" } })

    @Html.ValidationMessageFor(i => i.InstanceDescription, "", new { @class = "text-danger" })
    <button class="btm btn-primary" type="submit">Update</button>
}
