
@{
    ViewBag.Title = "Instances";
}

<h2>@ViewBag.Title</h2>
<br />

@Html.ActionLink("Create instance", "New")
<br />
<br />

@{
    var allInstances = ViewBag.Instances;
    if (allInstances == null)
    {
        <p>There are no active instances.</p>
    }
    else
    {
        foreach (var instance in allInstances)
        {
            <div class="panel-body" style="border: 1px solid red; border-top-style: dotted; border-right-style:solid; border-bottom-style: dotted; border-left-style:solid; background-color: lightgray">
                <div class="row" >
                    <div class="col-md-10">
                        <p>Name: @instance.InstanceName</p>
                        <p>Ip: @instance.InstanceIp</p>
                        <p>Port: @instance.InstancePort</p>
                    </div>
                    <div class="col-md-1" >
                        @using (Html.BeginForm(actionName: "Details", controllerName: "Instance", method: FormMethod.Get, routeValues: new { id = instance.InstanceId }))
                        {
                            <button style="float:right" type="submit" class="btn btn-primary">More Details</button>
                        }
                    </div>
                </div>
            </div>
            <br />
        }
    }

}