@{
    ViewBag.Title = "Storage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form method="post" action="/MyStorage/Upload" enctype="multipart/form-data">
    <input type="file" class="input-file" name="file" />
    <input type="submit" />
</form>

<br />
<br />
<br />
<br />

<script>
    function encrypt(name) {
        var password = prompt("Insert a passcode to encrypt (8 characters)");
        if (password != null) { location.replace("/MyStorage/Encrypt/" + name + "/" + password); }
    }
    function decrypt(name) {
        var password = prompt("Insert a passcode to decrypt(8 characters)");
        if (password != null) { location.replace("/MyStorage/Decrypt/" + name + "/" + password); }
    }
</script>
@{

    var allFiles = ViewData["allFiles"] as List<String>;
    if (allFiles.Count() == 0)
    {
        <p> There are no files uploated.</p>
    }
    else
    {
        foreach (var file in allFiles)
        {
            <div class="col-md-4 col-lg-4 col-sm-4" style="border-radius: 7px; border: 3px solid red; border-top-style: dotted; border-right-style:solid; border-bottom-style: dotted; border-left-style:solid; background-color: lightgray">

                @{var file_name = @file.Split('\\').Last();}

                <strong><p>Name: @file_name</p></strong>

                <a href="/MyStorage/Delete/@file_name/" class="btn btn-danger col-sm-4">Delete</a>
                @if (@file_name.EndsWith(".txt"))
                {
                    <a href="/MyStorage/Open/@file_name/" class="btn btn-primary col-sm-4">Open</a>
                }

                <button class="btn btn-success col-sm-4" onclick="encrypt('@file_name')">Encrypt</button>

                <button class="btn col-sm-4" style="background-color:brown" onclick="decrypt('@file_name')">Decrypt</button>
                <a href="/MyStorage/Download/@file_name/" class="btn btn-info col-sm-4">Download</a>
                <br />
            </div>


        }

    }
}