@{
    ViewBag.Title = "Storage";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form method="post" action="/MyStorage/Upload" enctype="multipart/form-data">
    <input type="file" class="input-file" name="file" />
    <input type="submit" />
</form>

@{

    var allFiles = ViewData["allFiles"] as List<String>;
    if (allFiles.Count() == 0)
    {
        <p> Nu sunt fisiere</p>
    }
    else
    {
        foreach (var file in allFiles)
        {
<div class="col-md-4 col-lg-4 col-sm-4">

    @{var file_name = @file.Split('\\').Last();}

    @Html.Label("Name", "Name:")
    <p>@file_name</p>

    <a href="/MyStorage/Delete/@file_name/" class="btn btn-danger">Delete</a>
    @if (@file_name.EndsWith(".txt"))
    {
        <a href="/MyStorage/Open/@file_name/" class="btn btn-primary">Open</a>
    }
    <a href="/MyStorage/Encrypt/@file_name/" class="btn btn-success">Encrypt</a>
    <a href="/MyStorage/Decrypt/@file_name/" class="btn btn-warning">Decrypt</a>
    <a href="/MyStorage/Download/@file_name/" class="btn btn-info">Download</a>
    <br />

</div>
            }

    }
}